@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?d1j3gf');
	src:url('fonts/icomoon.eot?#iefixd1j3gf') format('embedded-opentype'),
		url('fonts/icomoon.woff?d1j3gf') format('woff'),
		url('fonts/icomoon.ttf?d1j3gf') format('truetype'),
		url('fonts/icomoon.svg?d1j3gf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

*,:before,:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;

}

html,body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	-moz-font-feature-settings:liga,kern;
	-webkit-hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	hyphens:auto;
}

body {
	-webkit-overflow-scrolling:touch;
	font-family:"Helvetica Neue","Helvetica","Myriad Set Pro","Lucida Grande","Lucida Sans Unicode","Arial","Verdana","sans-serif";
	background:#f2f2f2;
	color:#777;
	font-weight:400;
	font-style:normal;
	font-size:100%;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	min-width:474px;
	max-width:1680px;
	margin:0 auto;
	overflow:auto;
}

#wrapper {
	height:auto;
	min-height:100%;
	text-align:justify;
	line-height:1.7857;
	max-width:76em;
	margin:0 8%;
	padding-bottom:3.125em;
	margin-bottom:-3em;
}

header {
	padding:0 8%;
	border-bottom:1px solid #d3d3d3;
	margin-bottom:3em;
	background:url(images/logo.png) left center no-repeat;
	background-size:auto 200px;
	background-position:10% 50%;
	height:80px;
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5),only screen and (-o-min-device-pixel-ratio: 32),only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min-device-pixel-ratio: 1.5),only screen and (min-resolution: 1.5dppx) {
	header:before {
		background-image:url(images/logo@2X.png);
	}
}

nav {
	margin-left:210px;
	position:relative;
	height:100%;
}

nav h1,nav ul {
	position:absolute;
	right:0;
	font-size:2em;
}

nav ul {
	bottom:0;
	left:0;
	font-size:1.8em;
	margin:0 auto;
	padding:0;
	max-width:1200px;
	list-style:none;
	text-align:right;
}

nav li {
	position:relative;
	z-index:1;
	display:inline;
	text-align:center;
	padding-left:1%;
}

nav a {
	z-index:1;
	overflow:visible;
	color:#74777b;
	font-weight:300;
	line-height:1;
	-webkit-transition:all .6s cubic-bezier(.7,0,.3,1);
	transition:all .6s cubic-bezier(.7,0,.3,1);
	text-decoration:none;
	font-weight:100;
}

nav li.active a {
	color:#650205;
	position:relative;
}

#wrapper > #content {
	padding:0;
}

#wrapper > #content:before,#wrapper > #content:after {
	content:'';
	display:table;
}

#wrapper > #content:after {
	clear:both;
}

ol li {
	font-size:16px;
	line-height:60px;
	color:#171717;
	background:#fff;
	margin:0;
	border:1px solid #d3d3d3;
	border-bottom-width:0;
	padding:0 10px;
}

ol li:last-child {
	border-bottom-width:1px;
}

ol span {
	float:right;
}

ol span a {
	font-family:'icomoon';
	speak:none;
	font-style:normal;
	font-weight:400;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	cursor:pointer;
	color:#474747;
	text-decoration:none;
	padding:0 0 0 5px;
}

footer {
	clear:both;
	z-index:10;
	height:3em;
	padding:-3em 8% 0;
	background:transparent;
}

footer p {
	text-align:center;
	color:#b6b6b6;
	line-height:3em;
}