#content header {
	box-shadow: 0 0 4px lightgrey;
	font-size:16px;
	line-height:60px;
	color:#777;
	background:#fff;
	margin:0 0 30px;
	border:1px solid #d3d3d3;
	border-bottom-width:0;
	padding:0 10px;
}
#content header:last-child {
	border-bottom-width:1px;
}
#content header h1 {
	display: inline-block;
}
#content header .date {
	padding-left: 2%;
	color: rgb(181, 181, 181);
}
#content header .date input {
	width: 90px;
	text-align: center;
	color: rgb(181, 181, 181);
}

#content header aside {
	float:right;
}
#content header aside a {
	margin-left: 10px;
}

figure {
	width: 200px;
	height: 250px;
	display: inline-block;
	margin: 1% 1% 28px;
	vertical-align: middle;
	text-align: center;
	position: relative;
}
figure.add {
	border: 4px solid #fff;
	box-shadow: 0 0 8px lightgrey;
}
figure.add a {
	text-indent: -9999px;
	display: inline-block;
}
figure.add a:before{
	content: "\e083";
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1.45em;
	padding: 0 10px;
	border-radius: 8px;
	cursor: pointer;
	color: #b6b6b6;
	width: 100%;
	font-size: 10em;
	text-align: center;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-indent: 0;
}
figure.add figcaption {
	display: none;
}

figure img {
	width: 100%;
	max-height: 100%;
	border: 4px solid #fff;
	box-shadow: 0 0 8px lightgrey;
}
figcaption {
	font-size: 14px;
	line-height: 14px;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	margin-top: 5px;
}