#wrapper > #content {
	padding:0;
	margin:0 8%;
	line-height:1.7857;
	box-shadow: 0 0 4px lightgrey;
}

ol li {
	font-size:16px;
	line-height:60px;
	color:#777;
	background:#fff;
	margin:0;
	border:1px solid #d3d3d3;
	border-bottom-width:0;
	padding:0 10px;
	position: relative;
}
ol li:last-child {
	border-bottom-width:1px;
}


a[href="?requ=addgroup"] {

}
a[href="?requ=addgroup"]:after {
	speak:none;
	font-style:normal;
	font-variant:normal;
	text-transform:none;
	line-height:61px;
	cursor:pointer;
	content: "+";
	position: absolute;
	right: 10px;
	font-size: 24px;
}


.modal {
	position: absolute;
	z-index: 100;
	border: 1px solid #B3B3B3;
	background: #FFF;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, .2);
	height: 28px;
	line-height: 22px;
}
.modal:before {
	content: "";
	position: absolute;
	top: -10px; /* value = - border-top-width - border-bottom-width */
	left: 20px; /* controls horizontal position */
	border-width: 0 10px 10px;
	border-style: solid;
	border-color: #B3B3B3 transparent;
	/* reduce the damage in FF3.0 */
	display: block;
	width: 0;
}
.modal:after {
	content: "";
	position: absolute;
	top: -8px; /* value = - border-top-width - border-bottom-width */
	left: 22px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	border-width: 0 8px 8px;
	border-style: solid;
	border-color: #fff transparent;
	/* reduce the damage in FF3.0 */
	display: block;
	width: 0;
}
.modal.suppr:after {
	border-color: red transparent;
}
.modal a {
	padding: 2px 10px;
	display: inline-block;
}
.modal.suppr a:first-child {
	background: #F72B2B;
	color: #FFF;
	-webkit-top-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-top-left-radius:  4px;
	border-bottom-left-radius: 4px;
}
