a[href="?requ=group"] {

}
a[href="?requ=group"]:after {
	speak:none;
	font-style:normal;
	font-variant:normal;
	text-transform:none;
	line-height:61px;
	cursor:pointer;
	content: "+";
	position: absolute;
	right: 10px;
	font-size: 24px;
}
