.modal {
	position: absolute;
	z-index: 100;
	border: 1px solid #B3B3B3;
	background: #FFF;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, .2);
	height: 28px;
	line-height: 22px;
}
.modal:before, .modal:after {
	content: "";
	position: absolute;
	top: -10px; /* value = - border-top-width - border-bottom-width */
	left: 23%; /* controls horizontal position */
	border-width: 0 10px 10px;
	border-style: solid;
	border-color: #B3B3B3 transparent;
	/* reduce the damage in FF3.0 */
	display: block;
	width: 0;
}
.modal:after {
	content: "";
	position: absolute;
	top: -8px; /* value = - border-top-width - border-bottom-width */
	left: 23%; /* value = (:before left) + (:before border-left) - (:after border-left) */
	margin-left: 2px;
	border-width: 0 8px 8px;
	border-color: #fff transparent;
}

header .modal:before, header .modal:after {
	left: 72%;
}

.modal.suppr:after {
	border-color: red transparent;
}
header .modal.suppr:after {
	border-color: rgb(240, 240, 240) transparent;
}

.modal a {
	padding: 2px 10px !important;
	margin: 0 !important;
	display: inline-block;
	border: none !important;
	border-radius: 0 !important;
}
.modal.suppr a:first-child {
	background: #F72B2B !important;
	color: #FFF !important;
	-webkit-top-bottom-left-radius: 4px !important;
	-webkit-border-bottom-left-radius: 4px !important;
	-moz-border-top-left-radius: 4px !important;
	-moz-border-bottom-left-radius: 4px !important;
	border-top-left-radius:  4px !important;
	border-bottom-left-radius: 4px !important;
}
.modal.suppr a:last-child {
	-webkit-top-bottom-right-radius: 4px !important;
	-webkit-border-bottom-right-radius: 4px !important;
	-moz-border-top-right-radius: 4px !important;
	-moz-border-bottom-right-radius: 4px !important;
	border-top-right-radius:  4px !important;
	border-bottom-right-radius: 4px !important;
}