#wrapper > #content {
	text-align: center;
	box-shadow: none;
}
#wrapper > #content.admin {
	text-align: left;
}

.admin figure {
	float: left;
	margin-left: 10%;
}
.admin form {
	display: inline-block;
	margin-top: 20px;
	margin-left: 5%;
	padding-left: 5%;
	border-left: 1px solid #ececec;
}
label {
	display: block;
}
input[type=text] {
	background: transparent;
}
input[type=submit] {
	margin-top: 20px;
}

.button {
	margin-left: 10px;
}

.modal {
	position: relative !important;
	top: 10px;
}
.modal:before, .modal:after {
	left: 72% !important;
}

.modal.suppr:after {
	border-color: rgb(240, 240, 240) transparent !important;
}