.button {
	width:220px;
	z-index:100;
	position:relative;
	overflow:hidden;
	height:30px;
	padding:0;
	display:inline-block;
	text-align:center;
	text-decoration:none;
	-webkit-transition:.2s all ease-in-out;
	-moz-transition:.2s all ease-in-out;
	-ms-transition:.2s all ease-in-out;
	-o-transition:.2s all ease-in-out;
	transition:.2s all ease-in-out;
}

input[type="submit"],.button.loading img {
	display:none;
}

input[type="submit"],.button.loading {
	width:40px;
	height:40px;
	margin:0 auto;
}

input[type="submit"],.button.loading label {
	display:none;
}

input[type="submit"],.button.loading img {
	display:block;
}

input[type="submit"] {
	width:auto;
	height:20px;
	padding:0 10px;
	margin:8px auto 2px;
}
.button label {
	display: block;
}

input[type="file"] {
	position:absolute;
	left:-1000px;
	visibility:hidden;
}

fieldset {
	border:0;
}

#fileinput {
	visibility:visible;
	top:0;
	bottom:0;
	left:0;
	width:100%;
	opacity:0;
	filter:alpha(opacity=0);
	cursor:pointer;
	position:absolute;
}